DB_HOST=mysql
DB_USER=root
DB_PASS=NTK_Secure_2026
DB_NAME=ntk

# Cloudflare Tunnel Token (Lấy từ Cloudflare Zero Trust)
CLOUDFLARE_TUNNEL_TOKEN=your_token_here

# AWS Credentials (For Rekognition - Learner Lab)
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
AWS_SESSION_TOKEN=your_session_token_if_using_learner_lab
AWS_REGION=us-east-1
